@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 200px;
    background-color: #181515;
    border-radius: 20px;
}
.banner-info{
    margin: 25px;
}
.banner-info h1{
    font-size: 80px;
    color: #fff;
    padding: 100px 20px 35px 20px;
}
.banner-info p{
    font-size: 24px;
    color: #fff;
    padding: 0 20px 50px 20px;
}
.banner-info a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    background-color: #f64f4f;
    margin-left:25px ;
    padding: 20px;
    border-radius: 15px;
}
.banner-info a i{
    padding-left: 20px;
}
.banner{
    margin:20px 20px 0 0;
}
.banner img{
    width: 600px;
    height: 600px;
}

/*------------
  blog section
 ------------- */
 .container-2{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 200px;
    border-radius: 20px;
 }
 .aside{
    width: 350px;
    height: 350px;
    background-color: #181515;
    border-radius: 20px;
    margin-top:50px ;
 }
 .aside a{
    display: flex;
    justify-content: center;
    color: #181515;
    text-decoration: none;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #181515;
    border-radius: 15px;
    margin: 40px 40px;
    padding: 15px;
    
 }
 #blog{
    background-color: #f64f4f;
    color: #fff;
 }

 /* cards section */

 .cards{
    width: 75%;
    margin: 50px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
 }
 .card{
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
 }
 .card-content{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
 }
 .card-content span{
    font-size: 24px;
    font-weight: 700;
    padding:20px 3px;
 }
 .card-content img{
    width: 120px;
    height: 60px;
 }
 .card h1,p{
    padding: 20px;
    text-align: center;
 }
 button{
   text-decoration: none;
   color: #fff;
   font-size: 25px;
   font-weight: 500;
   background-color: #f64f4f;
   margin-left:25px ;
   padding: 20px;
   border-radius: 15px;
   margin-left: 42%;
   display: none;
}
/*------------
  footer sectoin 
  -------------- */
  footer{
    background-color: #181515;
  }
  footer h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding:40px 0px 0px 0px;
  }
  .container-3{
   margin: 20px 200px;
 }
 .container-3 a{
   text-decoration: none;
   color: #797474;
   margin: 20px;
   padding: 30px;
 }
  .container-3 hr{
    margin-bottom:40px ;
    color: #585353;
  }

  .icon{
   text-align: center;
   padding-bottom: 25px; ;
}
.icon i{
   background-color: #fff;
   font-size: 40px;
   margin: 20px;
   border-radius: 20px;
}

   /*------------------
   media queries
   ------------------- */
   @media only screen and (max-width:670px){
      .container{
          display: block;
          flex-direction: column;
          width: 95%;
          margin: auto;
      }
      .banner img{
          width: 400px;
          height: 400px;
      }
        .container-2{
           display: block;
           flex-direction: column;
           width: 100%;
           margin: auto;
        }
        .aside{
          margin: auto;
        }
        .cards{
            grid-template-columns: repeat(1, 1fr);
            width: 75%;
        }
        .container-3{
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto;
        }
    }
    @media only screen and (min-width:671px) and (max-width:992px){
      .container{
          width: 95%;
          margin: 30px;
      }
      .banner{
          margin-top:200px;
      }
      .banner img{
          width: 400px;
          height: 400px;
      }
        .container-2{
           display: block;
           flex-direction: column;
           width: 100%;
           margin: 10px;
        }
        .aside{
          margin: auto;
          width: 100%;
          height: auto;
          background-color: #fff;
          display: flex;
          justify-content: space-evenly;
        }
        .aside a{
          display: inline;
          color: #181515;
          text-decoration: none;
          font-size: 25px;
          background-color: #fff;
          border: 1px solid #181515;
          border-radius: 15px;
          margin: 40px 40px;
          padding: 15px;
          
       }
        .cards{
            grid-template-columns: repeat(2, 1fr);
            width: 75%;
            margin: auto;
        }
        button{
          display: block;
          margin-top: 25px;
        }
        .container-3{
          margin: auto;
          width: 100%;
        }
        .container-3 a{
          text-decoration: none;
          color: #797474;
          padding: 10px;
        }
        footer hr{
          margin-bottom:40px ;
          color: #585353;
        }
    }